In [ ]:
import requests
import json
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

#@reactive.calc
def url():
    return f"https://v6.exchangerate-api.com/v6/e4422bdb5030904fad352315/latest/USD"

#@render.code
async def info():
    response = requests.get(url())
    if response.status_code == 200:
        exrate = json.loads(response.text)['conversion_rates']
        filename = "exchange_rate.txt"
        with open(filename, "w") as file:
            file.write(json.dumps(exrate))
        return exrate
    else:
        return None

# Call the info function and print the result
exrate = await info()
print(exrate)

{'USD': 1, 'AED': 3.6725, 'AFN': 67.8917, 'ALL': 91.115, 'AMD': 387.2451, 'ANG': 1.79, 'AOA': 917.498, 'ARS': 994.75, 'AUD': 1.5219, 'AWG': 1.79, 'AZN': 1.698, 'BAM': 1.8222, 'BBD': 2.0, 'BDT': 119.4942, 'BGN': 1.8229, 'BHD': 0.376, 'BIF': 2919.7351, 'BMD': 1.0, 'BND': 1.3332, 'BOB': 6.9231, 'BRL': 5.7539, 'BSD': 1.0, 'BTN': 84.3252, 'BWP': 13.3916, 'BYN': 3.3158, 'BZD': 2.0, 'CAD': 1.3934, 'CDF': 2850.8341, 'CHF': 0.8758, 'CLP': 957.2932, 'CNY': 7.1851, 'COP': 4399.7927, 'CRC': 512.5132, 'CUP': 24.0, 'CVE': 102.729, 'CZK': 23.6085, 'DJF': 177.721, 'DKK': 6.9502, 'DOP': 60.2531, 'DZD': 133.6272, 'EGP': 49.2121, 'ERN': 15.0, 'ETB': 121.0012, 'EUR': 0.9316, 'FJD': 2.2517, 'FKP': 0.776, 'FOK': 6.9503, 'GBP': 0.776, 'GEL': 2.7203, 'GGP': 0.776, 'GHS': 16.4879, 'GIP': 0.776, 'GMD': 71.4154, 'GNF': 8587.3391, 'GTQ': 7.716, 'GYD': 208.818, 'HKD': 7.7763, 'HNL': 25.2053, 'HRK': 7.0196, 'HTG': 131.3982, 'HUF': 381.9593, 'IDR': 15836.4307, 'ILS': 3.7338, 'IMP': 0.776, 'INR': 84.3227, 'IQD': 1307.7329, 'IRR': 42067.1186, 'ISK': 138.3589, 'JEP': 0.776, 'JMD': 158.691, 'JOD': 0.709, 'JPY': 154.2925, 'KES': 128.8166, 'KGS': 85.6614, 'KHR': 4066.3253, 'KID': 1.5218, 'KMF': 458.3447, 'KRW': 1399.3582, 'KWD': 0.307, 'KYD': 0.8333, 'KZT': 493.1137, 'LAK': 21855.0315, 'LBP': 89500.0, 'LKR': 292.6221, 'LRD': 191.3722, 'LSL': 17.6551, 'LYD': 4.8035, 'MAD': 9.8522, 'MDL': 17.889, 'MGA': 4605.4847, 'MKD': 56.805, 'MMK': 2099.8297, 'MNT': 3411.8139, 'MOP': 8.0097, 'MRU': 39.6687, 'MUR': 46.3538, 'MVR': 15.4235, 'MWK': 1737.1005, 'MXN': 20.2901, 'MYR': 4.4032, 'MZN': 63.8385, 'NAD': 17.6551, 'NGN': 1668.2671, 'NIO': 36.7998, 'NOK': 11.0804, 'NPR': 134.9203, 'NZD': 1.6825, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.7811, 'PGK': 3.9915, 'PHP': 58.8588, 'PKR': 278.0959, 'PLN': 4.0566, 'PYG': 7766.3269, 'QAR': 3.64, 'RON': 4.6328, 'RSD': 108.8163, 'RUB': 97.6856, 'RWF': 1366.1554, 'SAR': 3.75, 'SBD': 8.4905, 'SCR': 14.5468, 'SDG': 543.1008, 'SEK': 10.856, 'SGD': 1.3332, 'SHP': 0.776, 'SLE': 22.6864, 'SLL': 22686.4362, 'SOS': 570.2735, 'SRD': 34.8762, 'SSP': 3343.6912, 'STN': 22.8256, 'SYP': 12943.7627, 'SZL': 17.6551, 'THB': 34.3185, 'TJS': 10.6613, 'TMT': 3.4953, 'TND': 3.1132, 'TOP': 2.3463, 'TRY': 34.2265, 'TTD': 6.7719, 'TVD': 1.5218, 'TWD': 32.2885, 'TZS': 2668.5058, 'UAH': 41.4641, 'UGX': 3668.5154, 'UYU': 41.6131, 'UZS': 12767.6729, 'VES': 43.7822, 'VND': 25374.0269, 'VUV': 120.041, 'WST': 2.7433, 'XAF': 611.1263, 'XCD': 2.7, 'XDR': 0.7558, 'XOF': 611.1263, 'XPF': 111.1764, 'YER': 250.0392, 'ZAR': 17.6551, 'ZMW': 27.018, 'ZWL': 26.0142}

In [8]:
# Create a dataframe from the exrate dictionary
df_exrate = pd.DataFrame(list(exrate.items()), columns=['Currency', 'Rate'])
print(df_exrate)

    Currency      Rate
0        USD    1.0000
1        AED    3.6725
2        AFN   67.8917
3        ALL   91.1150
4        AMD  387.2451
..       ...       ...
157      XPF  111.1764
158      YER  250.0392
159      ZAR   17.6551
160      ZMW   27.0180
161      ZWL   26.0142

[162 rows x 2 columns]

In [12]:
iso4217_df = pd.read_csv('../iso4217.csv')
country_dict = dict(zip(iso4217_df['Currency Code'], iso4217_df['Currency Name']))
print(country_dict)

{'AED': 'UAE Dirham', 'AFN': 'Afghan Afghani', 'ALL': 'Albanian Lek', 'AMD': 'Armenian Dram', 'ANG': 'Netherlands Antillian Guilder', 'AOA': 'Angolan Kwanza', 'ARS': 'Argentine Peso', 'AUD': 'Australian Dollar', 'AWG': 'Aruban Florin', 'AZN': 'Azerbaijani Manat', 'BAM': 'Bosnia and Herzegovina Mark', 'BBD': 'Barbados Dollar', 'BDT': 'Bangladeshi Taka', 'BGN': 'Bulgarian Lev', 'BHD': 'Bahraini Dinar', 'BIF': 'Burundian Franc', 'BMD': 'Bermudian Dollar', 'BND': 'Brunei Dollar', 'BOB': 'Bolivian Boliviano', 'BRL': 'Brazilian Real', 'BSD': 'Bahamian Dollar', 'BTN': 'Bhutanese Ngultrum', 'BWP': 'Botswana Pula', 'BYN': 'Belarusian Ruble', 'BZD': 'Belize Dollar', 'CAD': 'Canadian Dollar', 'CDF': 'Congolese Franc', 'CHF': 'Swiss Franc', 'CLP': 'Chilean Peso', 'CNY': 'Chinese Renminbi', 'COP': 'Colombian Peso', 'CRC': 'Costa Rican Colon', 'CUP': 'Cuban Peso', 'CVE': 'Cape Verdean Escudo', 'CZK': 'Czech Koruna', 'DJF': 'Djiboutian Franc', 'DKK': 'Danish Krone', 'DOP': 'Dominican Peso', 'DZD': 'Algerian Dinar', 'EGP': 'Egyptian Pound', 'ERN': 'Eritrean Nakfa', 'ETB': 'Ethiopian Birr', 'EUR': 'Euro', 'FJD': 'Fiji Dollar', 'FKP': 'Falkland Islands Pound', 'FOK': 'Faroese Króna', 'GBP': 'Pound Sterling', 'GEL': 'Georgian Lari', 'GGP': 'Guernsey Pound', 'GHS': 'Ghanaian Cedi', 'GIP': 'Gibraltar Pound', 'GMD': 'Gambian Dalasi', 'GNF': 'Guinean Franc', 'GTQ': 'Guatemalan Quetzal', 'GYD': 'Guyanese Dollar', 'HKD': 'Hong Kong Dollar', 'HNL': 'Honduran Lempira', 'HRK': 'Croatian Kuna', 'HTG': 'Haitian Gourde', 'HUF': 'Hungarian Forint', 'IDR': 'Indonesian Rupiah', 'ILS': 'Israeli New Shekel', 'IMP': 'Manx Pound', 'INR': 'Indian Rupee', 'IQD': 'Iraqi Dinar', 'IRR': 'Iranian Rial', 'ISK': 'Icelandic Króna', 'JEP': 'Jersey Pound', 'JMD': 'Jamaican Dollar', 'JOD': 'Jordanian Dinar', 'JPY': 'Japanese Yen', 'KES': 'Kenyan Shilling', 'KGS': 'Kyrgyzstani Som', 'KHR': 'Cambodian Riel', 'KID': 'Kiribati Dollar', 'KMF': 'Comorian Franc', 'KRW': 'South Korean Won', 'KWD': 'Kuwaiti Dinar', 'KYD': 'Cayman Islands Dollar', 'KZT': 'Kazakhstani Tenge', 'LAK': 'Lao Kip', 'LBP': 'Lebanese Pound', 'LKR': 'Sri Lanka Rupee', 'LRD': 'Liberian Dollar', 'LSL': 'Lesotho Loti', 'LYD': 'Libyan Dinar', 'MAD': 'Moroccan Dirham', 'MDL': 'Moldovan Leu', 'MGA': 'Malagasy Ariary', 'MKD': 'Macedonian Denar', 'MMK': 'Burmese Kyat', 'MNT': 'Mongolian Tögrög', 'MOP': 'Macanese Pataca', 'MRU': 'Mauritanian Ouguiya', 'MUR': 'Mauritian Rupee', 'MVR': 'Maldivian Rufiyaa', 'MWK': 'Malawian Kwacha', 'MXN': 'Mexican Peso', 'MYR': 'Malaysian Ringgit', 'MZN': 'Mozambican Metical', 'NAD': 'Namibian Dollar', 'NGN': 'Nigerian Naira', 'NIO': 'Nicaraguan Córdoba', 'NOK': 'Norwegian Krone', 'NPR': 'Nepalese Rupee', 'NZD': 'New Zealand Dollar', 'OMR': 'Omani Rial', 'PAB': 'Panamanian Balboa', 'PEN': 'Peruvian Sol', 'PGK': 'Papua New Guinean Kina', 'PHP': 'Philippine Peso', 'PKR': 'Pakistani Rupee', 'PLN': 'Polish Złoty', 'PYG': 'Paraguayan Guaraní', 'QAR': 'Qatari Riyal', 'RON': 'Romanian Leu', 'RSD': 'Serbian Dinar', 'RUB': 'Russian Ruble', 'RWF': 'Rwandan Franc', 'SAR': 'Saudi Riyal', 'SBD': 'Solomon Islands Dollar', 'SCR': 'Seychellois Rupee', 'SDG': 'Sudanese Pound', 'SEK': 'Swedish Krona', 'SGD': 'Singapore Dollar', 'SHP': 'Saint Helena Pound', 'SLE': 'Sierra Leonean Leone', 'SOS': 'Somali Shilling', 'SRD': 'Surinamese Dollar', 'SSP': 'South Sudanese Pound', 'STN': 'São Tomé and Príncipe Dobra', 'SYP': 'Syrian Pound', 'SZL': 'Eswatini Lilangeni', 'THB': 'Thai Baht', 'TJS': 'Tajikistani Somoni', 'TMT': 'Turkmenistan Manat', 'TND': 'Tunisian Dinar', 'TOP': 'Tongan Paʻanga', 'TRY': 'Turkish Lira', 'TTD': 'Trinidad and Tobago Dollar', 'TVD': 'Tuvaluan Dollar', 'TWD': 'New Taiwan Dollar', 'TZS': 'Tanzanian Shilling', 'UAH': 'Ukrainian Hryvnia', 'UGX': 'Ugandan Shilling', 'USD': 'United States Dollar', 'UYU': 'Uruguayan Peso', 'UZS': "Uzbekistani So'm", 'VES': 'Venezuelan Bolívar Soberano', 'VND': 'Vietnamese Đồng', 'VUV': 'Vanuatu Vatu', 'WST': 'Samoan Tālā', 'XAF': 'Central African CFA Franc', 'XCD': 'East Caribbean Dollar', 'XDR': 'Special Drawing Rights', 'XOF': 'West African CFA franc', 'XPF': 'CFP Franc', 'YER': 'Yemeni Rial', 'ZAR': 'South African Rand', 'ZMW': 'Zambian Kwacha', 'ZWL': 'Zimbabwean Dollar'}

In [13]:
historical_rates_df = pd.read_csv('../historicalrates.csv')
print(historical_rates_df)

            Date  Algerian dinar   (DZD)                       \
0     2-Jan-2004                                          NaN
1     5-Jan-2004                                          NaN
2     6-Jan-2004                                          NaN
3     7-Jan-2004                                          NaN
4     8-Jan-2004                                          NaN
...          ...                                          ...
5274         NaN                                          NaN
5275         NaN                                          NaN
5276         NaN                                          NaN
5277         NaN                                          NaN
5278         NaN                                          NaN

      Australian dollar   (AUD)                       \
0                                           0.506604
1                                           0.511372
2                                           0.512311
3                                           0.514296
4                                           0.515618
...                                              ...
5274                                             NaN
5275                                             NaN
5276                                             NaN
5277                                             NaN
5278                                             NaN

      Botswana pula   (BWP)                       \
0                                            NaN
1                                       0.154920
2                                       0.153433
3                                       0.151602
4                                       0.150408
...                                          ...
5274                                         NaN
5275                                         NaN
5276                                         NaN
5277                                         NaN
5278                                         NaN

      Brazilian real   (BRL)                       \
0                                        0.233018
1                                        0.232277
2                                        0.233452
3                                        0.235059
4                                        0.233838
...                                           ...
5274                                          NaN
5275                                          NaN
5276                                          NaN
5277                                          NaN
5278                                          NaN

      Brunei dollar   (BND)                       \
0                                       0.396028
1                                       0.394266
2                                       0.393218
3                                       0.394696
4                                       0.395561
...                                          ...
5274                                         NaN
5275                                         NaN
5276                                         NaN
5277                                         NaN
5278                                         NaN

      Canadian dollar   (CAD)                       \
0                                         0.521743
1                                         0.523480
2                                         0.521192
3                                         0.520042
4                                         0.525074
...                                            ...
5274                                           NaN
5275                                           NaN
5276                                           NaN
5277                                           NaN
5278                                           NaN

      Chilean peso   (CLP)                       \
0                                           NaN
1                                      0.001140
2                                      0.001153
3                                      0.001185
4                                      0.001183
...                                         ...
5274                                        NaN
5275                                        NaN
5276                                        NaN
5277                                        NaN
5278                                        NaN

      Chinese yuan   (CNY)                       \
0                                           NaN
1                                      0.080973
2                                      0.080719
3                                      0.080935
4                                      0.081122
...                                         ...
5274                                        NaN
5275                                        NaN
5276                                        NaN
5277                                        NaN
5278                                        NaN

      Cyprus pound   (CYP)                       ...  \
0                                           NaN  ...
1                                           NaN  ...
2                                           NaN  ...
3                                           NaN  ...
4                                           NaN  ...
...                                         ...  ...
5274                                        NaN  ...
5275                                        NaN  ...
5276                                        NaN  ...
5277                                        NaN  ...
5278                                        NaN  ...

      Slovenian tolar   (SIT)                       \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
5274                                           NaN
5275                                           NaN
5276                                           NaN
5277                                           NaN
5278                                           NaN

      South African rand   (ZAR)                       \
0                                            0.100831
1                                            0.105379
2                                            0.103184
3                                                 NaN
4                                            0.101124
...                                               ...
5274                                              NaN
5275                                              NaN
5276                                              NaN
5277                                              NaN
5278                                              NaN

      Swedish krona   (SEK)                       \
0                                       0.093479
1                                       0.093605
2                                            NaN
3                                       0.093466
4                                       0.093065
...                                          ...
5274                                         NaN
5275                                         NaN
5276                                         NaN
5277                                         NaN
5278                                         NaN

      Swiss franc   (CHF)                       \
0                                          NaN
1                                     0.544799
2                                     0.543184
3                                     0.540867
4                                     0.538551
...                                        ...
5274                                       NaN
5275                                       NaN
5276                                       NaN
5277                                       NaN
5278                                       NaN

      Thai baht   (THB)                       \
0                                        NaN
1                                   0.017019
2                                   0.017042
3                                   0.017151
4                                   0.017209
...                                      ...
5274                                     NaN
5275                                     NaN
5276                                     NaN
5277                                     NaN
5278                                     NaN

      Trinidadian dollar   (TTD)                       \
0                                                 NaN
1                                                 NaN
2                                            0.106716
3                                            0.106780
4                                                 NaN
...                                               ...
5274                                              NaN
5275                                              NaN
5276                                              NaN
5277                                              NaN
5278                                              NaN

      U.A.E. dirham   (AED)                       \
0                                       0.183267
1                                       0.182495
2                                       0.181924
3                                       0.182415
4                                       0.182836
...                                          ...
5274                                         NaN
5275                                         NaN
5276                                         NaN
5277                                         NaN
5278                                         NaN

      U.K. pound   (GBP)                       \
0                                     1.20193
1                                     1.20611
2                                     1.21657
3                                     1.21523
4                                     1.21683
...                                       ...
5274                                      NaN
5275                                      NaN
5276                                      NaN
5277                                      NaN
5278                                      NaN

      U.S. dollar   (USD)                       \
0                                     0.673049
1                                     0.670212
2                                     0.668116
3                                     0.669918
4                                     0.671465
...                                        ...
5274                                       NaN
5275                                       NaN
5276                                       NaN
5277                                       NaN
5278                                       NaN

      Uruguayan peso   (UYU)
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
5274                                          NaN
5275                                          NaN
5276                                          NaN
5277                                          NaN
5278                                          NaN

[5279 rows x 43 columns]

In [14]:
# Function to extract ISO4217 code from column names
def extract_iso4217_code(column_name):
    if '(' in column_name and ')' in column_name:
        return column_name.split('(')[-1].split(')')[0].strip()
    return column_name

# Apply the function to rename columns, ignoring the 'Date' column
historical_rates_df.columns = [extract_iso4217_code(col) if col != 'Date' else col for col in historical_rates_df.columns]

print(historical_rates_df.columns)

Index(['Date', 'DZD', 'AUD', 'BWP', 'BRL', 'BND', 'CAD', 'CLP', 'CNY', 'CYP',
       'CZK', 'DKK', 'EEK', 'EUR', 'INR', 'ILS', 'JPY', 'KRW', 'KWD', 'MYR',
       'MTL', 'MUR', 'MXN', 'NZD', 'NOK', 'OMR', 'PEN', 'PHP', 'PLN', 'QAR',
       'RUB', 'SAR', 'SGD', 'SIT', 'ZAR', 'SEK', 'CHF', 'THB', 'TTD', 'AED',
       'GBP', 'USD', 'UYU'],
      dtype='object')

In [15]:
print(historical_rates_df)

            Date  DZD       AUD       BWP       BRL       BND       CAD  \
0     2-Jan-2004  NaN  0.506604       NaN  0.233018  0.396028  0.521743
1     5-Jan-2004  NaN  0.511372  0.154920  0.232277  0.394266  0.523480
2     6-Jan-2004  NaN  0.512311  0.153433  0.233452  0.393218  0.521192
3     7-Jan-2004  NaN  0.514296  0.151602  0.235059  0.394696  0.520042
4     8-Jan-2004  NaN  0.515618  0.150408  0.233838  0.395561  0.525074
...          ...  ...       ...       ...       ...       ...       ...
5274         NaN  NaN       NaN       NaN       NaN       NaN       NaN
5275         NaN  NaN       NaN       NaN       NaN       NaN       NaN
5276         NaN  NaN       NaN       NaN       NaN       NaN       NaN
5277         NaN  NaN       NaN       NaN       NaN       NaN       NaN
5278         NaN  NaN       NaN       NaN       NaN       NaN       NaN

           CLP       CNY  CYP  ...  SIT       ZAR       SEK       CHF  \
0          NaN       NaN  NaN  ...  NaN  0.100831  0.093479       NaN
1     0.001140  0.080973  NaN  ...  NaN  0.105379  0.093605  0.544799
2     0.001153  0.080719  NaN  ...  NaN  0.103184       NaN  0.543184
3     0.001185  0.080935  NaN  ...  NaN       NaN  0.093466  0.540867
4     0.001183  0.081122  NaN  ...  NaN  0.101124  0.093065  0.538551
...        ...       ...  ...  ...  ...       ...       ...       ...
5274       NaN       NaN  NaN  ...  NaN       NaN       NaN       NaN
5275       NaN       NaN  NaN  ...  NaN       NaN       NaN       NaN
5276       NaN       NaN  NaN  ...  NaN       NaN       NaN       NaN
5277       NaN       NaN  NaN  ...  NaN       NaN       NaN       NaN
5278       NaN       NaN  NaN  ...  NaN       NaN       NaN       NaN

           THB       TTD       AED      GBP       USD  UYU
0          NaN       NaN  0.183267  1.20193  0.673049  NaN
1     0.017019       NaN  0.182495  1.20611  0.670212  NaN
2     0.017042  0.106716  0.181924  1.21657  0.668116  NaN
3     0.017151  0.106780  0.182415  1.21523  0.669918  NaN
4     0.017209       NaN  0.182836  1.21683  0.671465  NaN
...        ...       ...       ...      ...       ...  ...
5274       NaN       NaN       NaN      NaN       NaN  NaN
5275       NaN       NaN       NaN      NaN       NaN  NaN
5276       NaN       NaN       NaN      NaN       NaN  NaN
5277       NaN       NaN       NaN      NaN       NaN  NaN
5278       NaN       NaN       NaN      NaN       NaN  NaN

[5279 rows x 43 columns]

In [16]:
historical_rates_df.to_csv('historical_rates_fixed.csv', index=False)